node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.auth/
/fixtures/files/*
!/fixtures/files/.gitkeep
!/fixtures/files/test-image.png
!/fixtures/files/test-video.mp4
!/fixtures/files/test-video-small.mp4
!/fixtures/files/test-audio.mp3
!/fixtures/files/test-document.pdf
